<a href="https://colab.research.google.com/github/Charanvitha/AIAC/blob/main/AIC_lab_6_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

2303A51408 B-07

**TASK 1 — STUDENT CLASS**

**Prompt:**

Generate a Python class named Student with attributes name, roll_number, and branch.
Add a method display_details() that prints the student information in a clean format.
Also create a sample object and display its output.

**Code:**

In [ ]:
class Student:
    def __init__(self, name, roll_number, branch):
        self.name = name
        self.roll_number = roll_number
        self.branch = branch

    def display_details(self):
        print("Student Details:")
        print("Name:", self.name)
        print("Roll Number:", self.roll_number)
        print("Branch:", self.branch)


# Sample object creation
student1 = Student("Rahul Sharma", "23CS101", "CSE")

# Display output
student1.display_details()

Student Details:
Name: Rahul Sharma
Roll Number: 23CS101
Branch: CSE

**TASK 2 — MULTIPLES USING LOOPS**

**PROMPT 1 (FOR LOOP)**

Write a Python function that prints the first 10 multiples of a given number using a for loop.

In [ ]:
def print_multiples_for(num):
    print("First 10 multiples using for loop:")
    for i in range(1, 11):
        print(num, "x", i, "=", num * i)

print_multiples_for(5)

First 10 multiples using for loop:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

**PROMPT 2 (WHILE LOOP)**

Generate the same program using a while loop instead of a for loop.

In [ ]:
def print_multiples_while(num):
    print("First 10 multiples using while loop:")
    i = 1
    while i <= 10:
        print(num, "x", i, "=", num * i)
        i += 1

print_multiples_while(5)

First 10 multiples using while loop:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

**TASK 3 — AGE CLASSIFICATION**

**PROMPT 1 (IF-ELIF-ELSE)**


Create a Python function that classifies age into child, teenager, adult, and senior using nested if-elif-else conditions.

In [ ]:
def classify_age(age):
    if age < 13:
        return "Child"
    elif age < 20:
        return "Teenager"
    elif age < 60:
        return "Adult"
    else:
        return "Senior"

print("Age 10:", classify_age(10))
print("Age 17:", classify_age(17))
print("Age 35:", classify_age(35))
print("Age 65:", classify_age(65))

Age 10: Child
Age 17: Teenager
Age 35: Adult
Age 65: Senior

**PROMPT 2 (SIMPLIFIED VERSION)**

Generate a simpler version of age classification using dictionary or logical conditions.

In [ ]:
def classify_age_simple(age):
    return (
        "Child" if age < 13 else
        "Teenager" if age < 20 else
        "Adult" if age < 60 else
        "Senior"
    )

print("Age 25:", classify_age_simple(25))

Age 25: Adult

**TASK 4 — SUM OF FIRST N NUMBERS**

**PROMPT 1**

Write a Python function to calculate the sum of first n natural numbers using a for loop.

In [ ]:
def sum_to_n_for(n):
    total = 0
    for i in range(1, n + 1):
        total += i
    return total

print("Sum using for loop:", sum_to_n_for(10))

Sum using for loop: 55

**PROMPT 2**

Generate an alternative solution using a while loop and a mathematical formula.

In [ ]:
def sum_to_n_while(n):
    total = 0
    i = 1
    while i <= n:
        total += i
        i += 1
    return total

print("Sum using while loop:", sum_to_n_while(10))

Sum using while loop: 55

In [ ]:
#FORMULA METHOD
def sum_to_n_formula(n):
    return n * (n + 1) // 2

print("Sum using formula:", sum_to_n_formula(10))

Sum using formula: 55

**TASK 5 — BANK ACCOUNT CLASS**

**PROMPT**

Create a Python class called BankAccount with methods deposit(), withdraw(), and check_balance().

Add proper validation and comments. Also demonstrate usage with sample transactions.

In [ ]:
class BankAccount:
    def __init__(self, name, balance=0):
        self.name = name
        self.balance = balance

    def deposit(self, amount):
        if amount > 0:
            self.balance += amount
            print("Deposited:", amount)
        else:
            print("Invalid deposit amount")

    def withdraw(self, amount):
        if amount <= self.balance:
            self.balance -= amount
            print("Withdrawn:", amount)
        else:
            print("Insufficient balance")

    def check_balance(self):
        print("Current Balance:", self.balance)


# Demonstration
account = BankAccount("Rahul", 1000)

account.check_balance()
account.deposit(500)
account.withdraw(300)
account.check_balance()

Current Balance: 1000
Deposited: 500
Withdrawn: 300
Current Balance: 1200